<sly data-sly-use.clientlib="${'/libs/granite/sightly/templates/clientlib.html'}"
     data-sly-call="${clientLib.css @ categories='olive.footer'}"/>

<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="${properties.webDesignLink}.html">${properties.webDesign}</a></li>
                            <li><a href="${properties.developmentLink}.html">${properties.development}</a></li>
                            <li><a href="${properties.hostingLink}.html">${properties.hosting}</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="${properties.companyLink}.html">${properties.company}</a></li>
                            <li><a href="${properties.teamLink}.html">${properties.team}</a></li>
                            <li><a href="${properties.careersLink}.html">${properties.careers}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Olive</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                </div>
                <p class="copyright">Company Name © 2022</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
